<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Ember Weather</a>
  </div>

  <div class="navbar-collapse collapse" id="navbar-collapsible">

    <div class="navbar-form navbar-right btn-group">
      <button type="button" class="btn btn-default">&deg;C</button>
      <button type="button" class="btn btn-default">&deg;F</button>
    </div>

    {{search-box class="navbar-form" placeholder="Enter a city name" onSearch=(action 'search')}}
  </div>
</nav>
<div class="container-fluid">
  {{outlet}}
</div>
